<div class="container">
    <h1 class="title">Favoritos</h1>
    <ul>
      <% @favorites.each do |favorite| %>
        <%= render partial: 'restaurants/card', locals: { restaurant: favorite.restaurant } %>
      <% end %>
    </ul>
</div>
