.profile-container {
    max-width: 600px;
    margin: 0;
    padding: 0;
}

.profile-header {
    text-align: center;
}

.profile-header h1 {
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.profile-links {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.profile-links div {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.profile-links i {
    font-size: 30px;
}

.profile-links a {
    color: black;
    text-decoration: none;
    margin: 15px;
}

.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-links ul {
    margin-top: 10px;
}

.btn {
    border: 1px solid;
    border-radius: 80px !important;
    width: 305px;
    margin: 10px;
    border-color: #000000 !important;
}
