

<nav class="navbar fixed-bottom bg-light footer">
  <div class="container-fluid">

    <%= link_to root_path do %>
      <i class="fa-solid fa-house"></i>
    <% end %>

    <%= link_to favorites_path do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>

    <%= link_to root_path do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>

    <%= link_to profile_path do %>
      <i class="fa-solid fa-user"></i>
    <% end %>

  </div>
</nav>


