<%= turbo_frame_tag "modal" do %>
  <div data-controller="modal">
    <div class="transparant-overlay dark-transparent-background" data-action="click->modal#closeModal"></div>
    <div class="modal-card">
      <p class="modal-card-done" data-action="click->modal#closeModal">X</p>
      <%= yield %>
    </div>
  </div>
<% end %>
