<div class="container h-100 d-flex justify-content-center align-items-center flex-column" data-controller="chat" data-chat-target="container">
  <img src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" />
</div>
