<div style="background-color: #F6F6F6;" class="container h-100 w-100 py-4 d-flex align-items-center flex-column justify-content-between" data-controller="chat" data-chat-target="container">
  <h2 data-chat-target="weather" class="text-center"></h2>
  <img data-chat-target="loading" src="https://i.pinimg.com/originals/cc/a2/96/cca296d0d5e03431ce62168254982fbc.gif" class="w-100"/>
  <ul class="w-100 p-0" data-chat-target="list"></ul>
</div>
