<div class="container h-100 w-100 pt-2 pb-4 d-flex justify-content-center align-items-center flex-column" data-controller="chat" data-chat-target="container">
  <img data-chat-target="loading" src="https://i.pinimg.com/originals/cc/a2/96/cca296d0d5e03431ce62168254982fbc.gif" class="w-100" />
  <ul class="w-100 p-0" data-chat-target="list"></ul>
</div>
