<div class="jumbotron">
  <h1 class="text-center-home">Yummy</h1>
  <p class="subtext">O que você procura?</p>

<div class="btn-container">
  <div class="row">
    <div class="col text-center">
      <%= link_to restaurants_path, class: 'btn btn-light' do %>
        <div class='text-start ms-4'>
          <i class="fa-solid fa-utensils" style="color: #000000;"></i>
          Restaurante
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= link_to root_path, class: 'btn btn-light' do %>
        <div class='text-start ms-4'>
          <i class="fa-solid fa-beer-mug-empty" style="color: #000000;"></i>
          Bares
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>
  <div class="text">
    <h3 class="text">Restaurantes que você pode gostar</h3>
  </div>
  

<div data-controller="google-places"></div>

