.title {
  font-family: "pacifico", sans-serif;
  font-weight: 300%;
  font-size: 60px;
  margin: 30px 3px 30px 10px;
}

.restaurant-name {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

