.footer {

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  a {
    text-decoration: white;
    color: #EC610A;
    border: white;

    i {
      font-size: 30px;
    }
  }
}

// .navigation {
// position: relative;
// width: 400px;
// height: 70px;
// display: flex;
// justify-content: center;
// align-items: center;
// background: #333;
// border-radius: 10px;
// }

// .navigation ul {
//   position: relative;
//   display: "flex";
//   width: 350px;
// }

// .navigation ul li{
//   position: relative;
//   list-style: none;
//   width: 70px;
//   height: 70px;
//   z-index: 1;
// }

// .navigation ul li a {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   width: 100%;
//   text-align: center;
//   font-weight: 500;
// }

// .navigation ul li a .icon {
//   position: relative;
//   display: block;
//   font-size: 1.5em;
//   line-height: 75px;
//   transition: 0.5s;
//   color: rgba(255, 255, 255, 0.5)
// }

// .navigation ul li:hover a .icon {
//   color: rgba(255, 255, 255, 1);
// }

// .navigation ul li.active a .icon {
//   transform: translateY(-8px);
//   color: #29fd53;
// }