.footer {

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  a {
    text-decoration: white;
    color: #EC610A;
    border: white;

    i {
      font-size: 30px;
    }
  }
}

