
.modal-card {
    background-color: #e6e6e6;
    min-height: 110vh;
    min-width: 100%;
    margin: 57vh auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    right: 0;
    top: 0px;
    transform: translateY(-52%);
    z-index: 1001;
    transition: visibility 1s, opacity 2s, linear;
    animation: fade-in 1s;
}


.transparent-overlay {
  align-items: center;
  display: flex;
  height: 1000vh;
  justify-content: center;
  top: 0;
  width: 100%;
  z-index: 1000;

}

.dark-transparent-background {
  background-color: rgba($color: #000, $alpha:0.4);
}


.modal-card-done {
  color: #e6e6e6;
  text-align: center;
  font-size: 31px;
  font-family: 'Pacifico';
  border-radius: 21px;
  background-color: #ff7c33;
  margin-left: 322px;
  box-shadow: -4px 2px 22px rgba(0, 0, 0, 1.5);
}


.filter-icon-bar {
  color: #EC610A;
  font-size: 32px;
  margin-right: 258px;
}
.fa-location-dot {
  color: #EC610A;
  font-size: 32px;


}


.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0D6EFD;
  --bs-btn-border-color: #0D6EFD;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0D6EFD;
  --bs-btn-disabled-border-color: #0D6EFD;
}



.tags-wrapper {
  font-size: 0.8rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  color: #000000;

}

.tags-wrapper label {
  background-color: #ffffff !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-size: 0.7rem !important;
  border-radius: 50rem !important;
  padding: 0.1rem 0.5rem !important;
  color: #000000 !important;
  border: 1px solid #ffffff !important;
  margin-right: 0.6rem !important;
  margin-bottom: 0.4rem !important;
}

.tags-wrapper input:checked {
  background-color: red !important;
}
